.wrapper {
    width: 100vw;
    height: 100vh;
    background: white;
    transition: all 0.5s ease;
}

.before {
    position: absolute;
    top: 0;
    left: 0;
}

.during {
    position: fixed;
    top: 0;
    left: 0;
}

.after {
    position: absolute;
    bottom: 0;
}
