.wrapper {
    padding-top: 50vh;
    padding-bottom: 50vh;
    position: relative;
}

.detail {
    max-width: 60vw;
    margin: auto;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 2px;
}
