.background {
    z-index: 1;
    &::after {
        display: none;
    }
}

:global {
    .is-piecemeal.is-scrollyteller > .Block-content:last-child {
        margin-bottom: 100vh;
    }
}
.background:not(.is-scrolling) {
    clip: inherit !important;
    clip: unset !important;
}
